body {
    background: #303030;
    margin: 0;
  }

  header{
    justify-content: space-between;
    display: flex;
    background-color: #cb1c5d;
    height: 150px;

    background-repeat: no-repeat;
    background-size: 160px;
    background-position: 90% 50%;
    align-items: center;
    
    
  }


  .logo{
    
    display: flex;
    align-items: center;
  }


  .logo img{
    margin-right: 10px;
    height: 80px;
  }

  a{
    text-decoration: none;
    color: black;
    padding-right: 10px;
  }

  nav{
    font-weight: 600;
    padding-right: 10px;
    
  }